@use 'base/mixins' as m;
@use 'base/variables' as v;


/*! EDUCATION */


.education {
    padding: 7rem 0;
}


.titulo-education {
    background-color: rgb(12, 92, 167);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    text-align: center;

    p {
        margin: 0;
        color: #fff;
        // font-weight: 300;
    }

    
    /*! Table Vertical  Min:768px */
    
    @include m.table_vertical{
        width: 30%;
    }
}